---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://qiita.com/api/v2/users/yyh-gl
    method: GET
  response:
    body: "{\"description\":\"東京でエンジニアしてます／CLI名刺 $ npx yyh-gl／メインは個人ブログです\U0001F4DD\",\"facebook_id\":\"\",\"followees_count\":19,\"followers_count\":18,\"github_login_name\":\"yyh-gl\",\"id\":\"yyh-gl\",\"items_count\":11,\"linkedin_id\":\"\",\"location\":\"Tokyo,
      Japan\",\"name\":\"\",\"organization\":\"\",\"permanent_id\":119088,\"profile_image_url\":\"https://qiita-image-store.s3.amazonaws.com/0/119088/profile-images/1535528464\",\"team_only\":false,\"twitter_screen_name\":null,\"website_url\":\"https://yyh-gl.github.io/tech-blog/\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a6adaa36bf27d2045a25659539dcdae5"
      Rate-Limit:
      - "60"
      Rate-Remaining:
      - "48"
      Rate-Reset:
      - "1575706458"
    status: 200 OK
    code: 200
    duration: ""
